@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --body-copy:17px;
    --body-copy-line-height: calc(var(--body-copy)*1.2);

    --main-heading: 60px;
    --main-heading-line-height: calc(var(--main-heading));
}

body {
    box-sizing: border-box;
    margin: auto;
    padding: auto;
    width: 80%;
    font-family: 'Poppins', serif;
    background-image: url(Clouds.jpg);
    background-size: cover;
}

.coverimg > img {
    width: 70%;
    padding: 0;
    margin: 0;
    margin-top: 150px;
    margin-bottom: 40px;
    background-color: rgb(255, 255, 255, 0.0);
}

.channel-description {
    font-size: var(--main-heading);
    line-height: var(--main-heading-line-height);
    width: 80%;
    margin-bottom: 100px;
}

.qcircle {
    display: flex;
    flex-direction: row;
    justify-content:center ;
}
.quarter-circle-left{
width: 400px;
height: 400px;
background-color: rgb(232, 255, 252, 0.5);
border-radius: 0 100% 0 0;
border: 20px solid black ;
border-bottom: 0px;

}
.quarter-circle-right{
    width: 400px;
    height: 400px;
    border-radius: 100% 0 0 0;
    background-color: rgb(232, 255, 252, 0.5);
    border: 20px solid black ;
    border-bottom: 0px;
    border-right: 0px;
}

.image-block {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    background-color: #EE7474;
    border: 20px solid black ;
    border-bottom: 0px;
}

.link-block {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    background-color: #74B3EE;
    border: 20px solid black ;
    border-bottom: 0px;
}

.pdf-block, .text-block {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    background-color: #FFA95A;
    border: 20px solid black ;
    border-bottom: 0px;
}

.video-embed-block, .audio-embed, .video-file-block, .audio-file-block {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    background-color:#C7EE74;
    border: 20px solid black ;
    border-bottom: 0px;
}

img {
        padding: 100px;
        object-fit: contain;
        display: block;
        margin: auto;
        mix-blend-mode: hard-light;
      }

/*BOTTOM NAVIGATION*/
.mobile-nav {
    margin: 0;
    padding: 40px;
	display: flex;
    flex-wrap: wrap;
	position: fixed;
    background-color: rgb(255, 255, 255, 0.7);
    border: 15px solid black ;
    bottom: 0;
    justify-content: space-evenly;
    z-index: 9999;
    left: 0;
    right: 0;
}

.tabs {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 15px solid black ;
    cursor: pointer;
    background-color: #ffffff;
}

.content {
    margin-bottom: 210px;
}

.red {
    background-color: #EE7474;
}

.blue {
    background-color: #74B3EE;
}

.green {
    background-color: #C7EE74;
}

.orange {
    background-color: #FFA95A;
}

.tabs_radio {
    display: none;
}

.tabs_radio:checked + .tabs {
    background-color: black;
}

.selected{
    order: 1;
    width: 100%;
    display: none;
}

.tabs_radio:checked + .tabs + .selected {
    display: initial;
}
